{% extends 'base.html' %}
{% load i18n %}
{% block title %} Тесты, связанные с {{ category.category }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-16 mid-text skel">
               <h1> Тесты в категории: <strong>{{ category.category }} </strong>  </h1>
		    </div>

        </div>
    </div>
</div>



		<!-- UI # -->
<div class="ui-297">
    <div class="container">
        <div class="row">
        {% with object_list as quizzes %}
        {% if quizzes %}
          {% for quiz in quizzes %}
            <div class="col-md-4">

                <!-- Add the class "box-shadow" for shadow effect -->
                <div class="bg-orange white box-shadow">
                    <h4 class="white">
                    <a href="{% url 'quiz_question' quiz_name=quiz.url %}" class="btn btn-lblue">
				{{ quiz.title }}
			  </a></h4>
                </div>
                <br />

            </div>
             {% endfor %}
         {% else %}
                <p> Нет тестов</p>
            {% endif %}
          {% endwith %}
        </div>
    </div>
</div>




{% endblock %}
