{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<div class="container-fluid bg-image">
<div class="container bg-white br-lblue box-shadow">
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-sm-16 mid-text skel4 black-c">
                 <h2>{{ quiz.title }}</h2>
                 <h3>Категория: {{ quiz.category }}</h3>
		    </div>

            {% if quiz.single_attempt %}
              <h4>Вы получите только одну попытку в этом тесте</h4>
            {% endif %}
            <div class="col-md-6 mid-text skel1 black-c">
                <p>{{ quiz.description }}</p>
            </div>

             <div class="col-md-12  ">
                <h2 align="justify"> {{ quiz.description_dop }}</h2>

            </div>

            <div class="col-md-12 mid-text skel2 fon black-c marg">
                <p align="justify"> {{ quiz.description_full }}</p>
            </div>

             <div class="col-md-12 visible-xs-inline ">
                <h4><i align="justify"> {{ quiz.description_formul }}</i></h4>
            </div>

             <div class="col-md-12  ">
                <h2 align="justify"> {{ quiz.description_dop_1 }}</h2>
            </div>

            <div class="col-md-12 mid-text skel2 fon black-c marg">
                <p align="justify"> {{ quiz.description_full_2 }}</p>
            </div>

            <div class="col-md-12 visible-xs-inline ">
                <h4><i align="justify"> {{ quiz.description_formul_1 }}</i></h4>
            </div>

             <div class="col-md-12  ">
                <h2 align="justify">{{ quiz.description_dop_2 }}</h2>
            </div>

            <div class="col-md-12 mid-text skel2 fon black-c marg">
                <p align="justify"> {{ quiz.description_full_3 }}</p>
                <p>
                <div class="col-md-12  ">
                    <i align="justify"> {{ quiz.description_formul_2 }}</i>
                </div>
                <div class="col-md-12  mar">
                    <i align="justify"> {{ quiz.description_formul_3 }}</i>
                </div>
                  <a href="{% url 'quiz_question' quiz_name=quiz.url %}"  class="btn btn-lblue">
                    Начать тест
                  </a>
            </p>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}
