{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} Страница прогресса {% endblock %}
{% block description %} Страница прогресса пользователя {% endblock %}

{% block content %}
<div class="ui-56">
    {% if cat_scores %}
              <div class="bg-orange white box-shadow mar">
                       <h1>Твои результаты в тестах</h1>
                </div>
			<div class="table-responsive box-shadow">
				<table class="table table-striped">
					<tr>
                          <th scope="col">Категория</th>
                          <th scope="col">Правильные ответы</th>
                          <th scope="col">Неправильные овтеты</th>
                          <th scope="col">%</th>
					</tr>
                    {% for cat, value in cat_scores.items %}
					<tr>
						<td><a data-toggle="tooltip" title="Soemthing">{{ cat }}<i class="fa fa-angle-double-up red"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing" >{{ value.0 }}<i class="fa fa-angle-double-down green"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing" >{{ value.1 }}<i class="fa fa-angle-double-down yellow"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing">{{ value.2 }}<i class="fa fa-angle-double-up lblue"></i></a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
         {% endif %}

       {% if exams %}
         <div class="bg-orange white box-shadow mar">
          <h1>Прошлые экзамены</h1>
           </div>
			<div class="table-responsive box-shadow">
				<table class="table table-striped">
					<tr>
                        <th>Название тесты</th>
                        <th>Результат</th>
                        <th>Возможный результат</th>
                        <th>%</th>
                        </tr>
                     {% for exam in exams %}
					<tr>
						<td><a data-toggle="tooltip" title="Soemthing">{{ exam.quiz.title }}<i class="fa fa-angle-double-up red"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing" >{{ exam.current_score }}<i class="fa fa-angle-double-down green"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing" >{{ exam.get_max_score }}<i class="fa fa-angle-double-down yellow"></i></a></td>
						<td><a data-toggle="tooltip" title="Soemthing">{{ exam.get_percent_correct }}<i class="fa fa-angle-double-up lblue"></i></a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
         {% endif %}
		</div>










{% endblock %}
